@charset "utf-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --fundo-claro: rgb(238, 234, 234);
  --fundo-escuro: #232a33;
  --fonte-principal: #0c1c33;
  --links-cor: #215d81;
  --link-destacado: #0345a1;
  --border: #30425c;
  --border-hover: #2f5486;
}

.montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

body {
  background: var(--fundo-escuro);
  color: var(--fonte-principal);
  font-family: "Montserrat", sans-serif;
}
body > h2 {
  text-align: left;
  margin: 65px 0 20px 20px;
  color: var(--links-cor);
  text-shadow: 1px 1px var(--fundo-claro);
}
.conteudo h2 {
  text-align: center;
  margin-bottom: 20px;
  color: var(--links-cor);
  text-shadow: 1px 1px var(--fundo-claro);
}

#perfil {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: justify;
  padding: 20px;
  text-indent: 20px;
  width: 90%;
  background-color: var(--fundo-claro);
  border-radius: 10px;
  margin: 10px auto 10px auto;
  color: var(--fundo-escuro);
  box-shadow: 1px 2px 10px var(--fundo-claro);
}
#perfil > h3 {
  margin: 20px 0;
  font-size: 25px;
  text-align: left;
  text-indent: 0;
  color: white;
}
#foto-perfil > img {
  width: 200px;
  height: auto;
  border-radius: 100px;
  margin-bottom: 20px;
  outline: 4px solid var(--border-hover);
}

.projetos {
  width: 90%;
  margin: 20px auto;
  display: grid;
  gap: 20px;
  grid-template-rows: auto auto auto;
  justify-content: center;
  background-color: var(--fundo-escuro);
  border-radius: 10px;
  padding: 20px;

}
.projetos i{
  font-size: 1.5em;
  margin: 10px 0;
}
.projeto {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-color: var(--fundo-claro);
  border-radius: 10px;
  padding: 10px;
  box-shadow: 1px 2px 10px var(--fundo-claro);
}
.main-projeto{
    display: flex;
    flex-flow: row wrap;
    gap: 15px;
  }
.main-projeto a{
    text-decoration: none;
    color: var(--link-destacado);
}
.projeto iframe, .projeto img{
    width: 100%;
    height: 400px;
}
.main-projeto:nth-of-type(3){
  width: 60%;
  margin: 0 auto;
}
.main-projeto:nth-of-type(3) img{
    width: 60px;
    height: 50px;
  }
.projeto a {
  text-decoration: none;
  color: var(--border);
  text-align: center;
  transition: color 0.5s;
}
.projeto a:hover {
  cursor: pointer;
  color: var(--border-hover);
}
.projeto > img {
  width: 80%;
  border-radius: 10px;
  margin: 20px;
}
#skills {
  width: 90%;
  margin: 20px auto;
  padding: 20px;
}
#skills-list {
  list-style: none;
  text-align: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}
#skills-list li {
  background-color: var(--border);
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
  transition: background 0.5s;
  box-shadow: 1px 2px 5px var(--fundo-claro);
}
#skills-list li:hover {
  background-color: var(--border-hover);
}

#formacao {
  width: 90%;
  height: auto;
  margin: 10px auto;
  text-align: center;
  background-color: var(--border);
  border-radius: 5px;
  color: white;
  box-shadow: 1px 2px 10px var(--fundo-claro);
}
#formacao > h2 {
  color: white;
  text-shadow: 3px 3px var(--fundo-escuro);
}

#formacao img {
  width: 50px;
  height: auto;
}

footer {
  color: var(--border);
  text-align: center;
  padding: 20px;
  background-color: var(--fundo-claro);
}
footer p {
  margin-bottom: 10px;
}
footer img {
  width: 50px;
  height: auto;
  border-radius: 50px;
  transition: transform 0.3s;
}
footer img:hover {
  cursor: pointer;
  transform: scale(1.1);
}

@media (min-width: 768px) {

  #conteudo {
    width: 98%;
    display: grid;
    grid-template-columns: 300px auto;
    align-items: flex-start;
    gap: 15px;
    padding: 10px;
    margin-bottom: 30px;
  }
  #perfil, #skills {
    display: flex;
    flex-direction: column;
  }

  #projetos {
    grid-column: 2 / 3;
    display: flex;
    flex-flow: column wrap;
    width: 100%;
  }

  #projetos h2{
    margin: 0;
    text-align: left;
  }

  .main-projeto{
    display: flex;
    flex-flow: row nowrap;
    gap: 15px;
    align-items: center;
    padding: 20px;
  }
  .main-projeto:nth-of-type(3){
    flex-flow: row;
    width: 100%;
    height: 200px;
    overflow: hidden;
    justify-content: center;
  }
  .main-projeto:nth-of-type(3)  .projeto{
    width: 200px;
    height: 180px;
  }
  .main-projeto:nth-of-type(3) img{
    width: 40px;
    height: 30px;
  }

  .projeto{
    width: 80%;
    height: 80vh;
  }
  .projeto iframe, .projeto img{
    width: 100%;
    height: 80%;
  }
  .projeto img{
    width: 80%;
  }

}
